#container {
margin: 1% 1% 1% 1%;
padding: 1% 1% 1% 1%;
}

body {
  height: 800px;
  width: 800px;
  margin: 0 auto;
  background-image: url(http://vignette3.wikia.nocookie.net/impossible-quiz/images/5/50/Wiki-background/revision/latest?cb=20160825050315);
background-repeat: no-repeat;
background-size: cover;
font-family: tahoma sans-serif;

}
#Rules {

  margin:5%;
  text-align: center;
}

.playerprogress {
  width: 400px;
  height: 150px;
   margin: 0 auto;
   display:block;
}


#playerturn {
  margin: 0 auto;
  text-align: center;

}
th {
  text-align: center;
}
li {
  list-style: none;

}
ol {
  padding: 0px
}

.question p {
  margin: 0px;
}
.question  {
  border: 1px solid;
  margin:2px auto;;
  display: none;
  width: 50%;
}

.start {
  text-align: center;
  margin-bottom: 10px;
}

.shown {
  display: block;
}
.six {
  text-align: center;
}
.ta {
  margin-bottom: 10px;
}
li div {
  border: 1px solid;
  margin: 3px;
  width: 40%;
  padding:1%;
  border-radius: 10px;
  background-color: grey;
  padding: 0 auto;
}
.p1 {
  float: left;
  display: inline-block;
}
aside {
  float: right;
  display: inline-block;
}
.playerprogress {

}
