#container {
}
#carousel {
  border: 5px solid;
}

body {
  height: 800px;
  width: 800px;
  margin: 0 auto;
  background-image: url(http://vignette3.wikia.nocookie.net/impossible-quiz/images/5/50/Wiki-background/revision/latest?cb=20160825050315);
background-repeat: no-repeat;
background-size: cover;

}
#Rules {
  border: 1px solid;
  margin: 3px;
  text-align: center;
}

.player1progress {
  float: left;
  border: 1px solid;
   margin: 2px;
   width: 45%;
   display: inline-block;
}
.player2progress {
  float:right;
  margin: 2px;
  border: 1px solid;
  width: 45%;
  display: inline-block;
}

#playerturn {
  margin: 0 auto;
}
th {
  text-align: center;
}
li {
  list-style: none;

}
ol {
  padding: 0px
}

.question p {
  margin: 0px;
}
.question  {
  border: 1px solid;
  margin:2px;
  display: none;
}

.start {
  text-align: center;
  margin-bottom: 10px;
}

.shown {
  display: block;
}
li div {
  border: 1px solid;
  margin: 3px;
  width: 30%;
  border-radius: 10px;
  background-color: grey;
  padding: 0 auto;
}
