#container {
}
#carousel {
  border: 5px solid green;
}
.q {
  border: 1px solid;
  margin:2px;
}
body {
  height: 800px;
  width: 800px;
  margin: 0 auto;
  background-image: url(http://vignette3.wikia.nocookie.net/impossible-quiz/images/5/50/Wiki-background/revision/latest?cb=20160825050315);
background-repeat: no-repeat;
background-size: cover;
text-align: center;
}
#Rules {
  border: 1px solid;
  margin: 3px;
}
#progress {
  border: 1px solid;
  margin: 3px;
}
.player1progress {
  float: left;
  border: 1px solid;
   margin: 2px;
   height: 45%;
   display: inline-block;
}
.player2progress {
  float:right;
  margin: 2px;
  border: 1px solid;
  width: 45%;
  display: inline-block;
}

#playerturn {
  margin: 0 auto;
}
th {
  text-align: center;
}
